<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrbc.business.mapper.CustomersMapper">
  <resultMap id="BaseResultMap" type="com.hrbc.business.domain.Customers">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cno" jdbcType="VARCHAR" property="cno" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="opsstaffname" jdbcType="VARCHAR" property="opsstaffname" />
    <result column="opsstaffno" jdbcType="VARCHAR" property="opsstaffno" />
    <result column="contactuser" jdbcType="VARCHAR" property="contactuser" />
    <result column="phoneno" jdbcType="VARCHAR" property="phoneno" />
    <result column="phonenobak" jdbcType="VARCHAR" property="phonenobak" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="emailbak" jdbcType="VARCHAR" property="emailbak" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="jobtitle" jdbcType="VARCHAR" property="jobtitle" />
    <result column="businessstate" jdbcType="VARCHAR" property="businessstate" />
    <result column="verify" jdbcType="VARCHAR" property="verify" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="delflag" jdbcType="INTEGER" property="delflag" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="majorsub" jdbcType="VARCHAR" property="majorsub" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hrbc.business.domain.Customers">
    <result column="followrec" jdbcType="LONGVARBINARY" property="followrec" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cno, cname, opsstaffname, opsstaffno, contactuser, phoneno, phonenobak, email, 
    emailbak, wechat, jobtitle, businessstate, verify, state, delflag, createtime, updatetime, 
    major, majorsub
  </sql>
  <sql id="Blob_Column_List">
    followrec
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.hrbc.business.domain.CustomersExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from customers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.hrbc.business.domain.CustomersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from customers
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customers
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hrbc.business.domain.CustomersExample">
    delete from customers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hrbc.business.domain.Customers">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into customers (cno, cname, opsstaffname, 
      opsstaffno, contactuser, phoneno, 
      phonenobak, email, emailbak, 
      wechat, jobtitle, businessstate, 
      verify, state, delflag, 
      createtime, updatetime, major, 
      majorsub, followrec)
    values (#{cno,jdbcType=VARCHAR}, #{cname,jdbcType=VARCHAR}, #{opsstaffname,jdbcType=VARCHAR}, 
      #{opsstaffno,jdbcType=VARCHAR}, #{contactuser,jdbcType=VARCHAR}, #{phoneno,jdbcType=VARCHAR}, 
      #{phonenobak,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{emailbak,jdbcType=VARCHAR}, 
      #{wechat,jdbcType=VARCHAR}, #{jobtitle,jdbcType=VARCHAR}, #{businessstate,jdbcType=VARCHAR}, 
      #{verify,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{delflag,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{major,jdbcType=VARCHAR}, 
      #{majorsub,jdbcType=VARCHAR}, #{followrec,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.hrbc.business.domain.Customers">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into customers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cno != null">
        cno,
      </if>
      <if test="cname != null">
        cname,
      </if>
      <if test="opsstaffname != null">
        opsstaffname,
      </if>
      <if test="opsstaffno != null">
        opsstaffno,
      </if>
      <if test="contactuser != null">
        contactuser,
      </if>
      <if test="phoneno != null">
        phoneno,
      </if>
      <if test="phonenobak != null">
        phonenobak,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="emailbak != null">
        emailbak,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="jobtitle != null">
        jobtitle,
      </if>
      <if test="businessstate != null">
        businessstate,
      </if>
      <if test="verify != null">
        verify,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="delflag != null">
        delflag,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="majorsub != null">
        majorsub,
      </if>
      <if test="followrec != null">
        followrec,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cno != null">
        #{cno,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="opsstaffname != null">
        #{opsstaffname,jdbcType=VARCHAR},
      </if>
      <if test="opsstaffno != null">
        #{opsstaffno,jdbcType=VARCHAR},
      </if>
      <if test="contactuser != null">
        #{contactuser,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null">
        #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="phonenobak != null">
        #{phonenobak,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="emailbak != null">
        #{emailbak,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="jobtitle != null">
        #{jobtitle,jdbcType=VARCHAR},
      </if>
      <if test="businessstate != null">
        #{businessstate,jdbcType=VARCHAR},
      </if>
      <if test="verify != null">
        #{verify,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="delflag != null">
        #{delflag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="majorsub != null">
        #{majorsub,jdbcType=VARCHAR},
      </if>
      <if test="followrec != null">
        #{followrec,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hrbc.business.domain.CustomersExample" resultType="java.lang.Long">
    select count(*) from customers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update customers
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cno != null">
        cno = #{record.cno,jdbcType=VARCHAR},
      </if>
      <if test="record.cname != null">
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.opsstaffname != null">
        opsstaffname = #{record.opsstaffname,jdbcType=VARCHAR},
      </if>
      <if test="record.opsstaffno != null">
        opsstaffno = #{record.opsstaffno,jdbcType=VARCHAR},
      </if>
      <if test="record.contactuser != null">
        contactuser = #{record.contactuser,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneno != null">
        phoneno = #{record.phoneno,jdbcType=VARCHAR},
      </if>
      <if test="record.phonenobak != null">
        phonenobak = #{record.phonenobak,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.emailbak != null">
        emailbak = #{record.emailbak,jdbcType=VARCHAR},
      </if>
      <if test="record.wechat != null">
        wechat = #{record.wechat,jdbcType=VARCHAR},
      </if>
      <if test="record.jobtitle != null">
        jobtitle = #{record.jobtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.businessstate != null">
        businessstate = #{record.businessstate,jdbcType=VARCHAR},
      </if>
      <if test="record.verify != null">
        verify = #{record.verify,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.delflag != null">
        delflag = #{record.delflag,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.major != null">
        major = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.majorsub != null">
        majorsub = #{record.majorsub,jdbcType=VARCHAR},
      </if>
      <if test="record.followrec != null">
        followrec = #{record.followrec,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update customers
    set id = #{record.id,jdbcType=INTEGER},
      cno = #{record.cno,jdbcType=VARCHAR},
      cname = #{record.cname,jdbcType=VARCHAR},
      opsstaffname = #{record.opsstaffname,jdbcType=VARCHAR},
      opsstaffno = #{record.opsstaffno,jdbcType=VARCHAR},
      contactuser = #{record.contactuser,jdbcType=VARCHAR},
      phoneno = #{record.phoneno,jdbcType=VARCHAR},
      phonenobak = #{record.phonenobak,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      emailbak = #{record.emailbak,jdbcType=VARCHAR},
      wechat = #{record.wechat,jdbcType=VARCHAR},
      jobtitle = #{record.jobtitle,jdbcType=VARCHAR},
      businessstate = #{record.businessstate,jdbcType=VARCHAR},
      verify = #{record.verify,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      delflag = #{record.delflag,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      major = #{record.major,jdbcType=VARCHAR},
      majorsub = #{record.majorsub,jdbcType=VARCHAR},
      followrec = #{record.followrec,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update customers
    set id = #{record.id,jdbcType=INTEGER},
      cno = #{record.cno,jdbcType=VARCHAR},
      cname = #{record.cname,jdbcType=VARCHAR},
      opsstaffname = #{record.opsstaffname,jdbcType=VARCHAR},
      opsstaffno = #{record.opsstaffno,jdbcType=VARCHAR},
      contactuser = #{record.contactuser,jdbcType=VARCHAR},
      phoneno = #{record.phoneno,jdbcType=VARCHAR},
      phonenobak = #{record.phonenobak,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      emailbak = #{record.emailbak,jdbcType=VARCHAR},
      wechat = #{record.wechat,jdbcType=VARCHAR},
      jobtitle = #{record.jobtitle,jdbcType=VARCHAR},
      businessstate = #{record.businessstate,jdbcType=VARCHAR},
      verify = #{record.verify,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      delflag = #{record.delflag,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      major = #{record.major,jdbcType=VARCHAR},
      majorsub = #{record.majorsub,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hrbc.business.domain.Customers">
    update customers
    <set>
      <if test="cno != null">
        cno = #{cno,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="opsstaffname != null">
        opsstaffname = #{opsstaffname,jdbcType=VARCHAR},
      </if>
      <if test="opsstaffno != null">
        opsstaffno = #{opsstaffno,jdbcType=VARCHAR},
      </if>
      <if test="contactuser != null">
        contactuser = #{contactuser,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null">
        phoneno = #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="phonenobak != null">
        phonenobak = #{phonenobak,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="emailbak != null">
        emailbak = #{emailbak,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="jobtitle != null">
        jobtitle = #{jobtitle,jdbcType=VARCHAR},
      </if>
      <if test="businessstate != null">
        businessstate = #{businessstate,jdbcType=VARCHAR},
      </if>
      <if test="verify != null">
        verify = #{verify,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="delflag != null">
        delflag = #{delflag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="majorsub != null">
        majorsub = #{majorsub,jdbcType=VARCHAR},
      </if>
      <if test="followrec != null">
        followrec = #{followrec,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hrbc.business.domain.Customers">
    update customers
    set cno = #{cno,jdbcType=VARCHAR},
      cname = #{cname,jdbcType=VARCHAR},
      opsstaffname = #{opsstaffname,jdbcType=VARCHAR},
      opsstaffno = #{opsstaffno,jdbcType=VARCHAR},
      contactuser = #{contactuser,jdbcType=VARCHAR},
      phoneno = #{phoneno,jdbcType=VARCHAR},
      phonenobak = #{phonenobak,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      emailbak = #{emailbak,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      jobtitle = #{jobtitle,jdbcType=VARCHAR},
      businessstate = #{businessstate,jdbcType=VARCHAR},
      verify = #{verify,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      delflag = #{delflag,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      major = #{major,jdbcType=VARCHAR},
      majorsub = #{majorsub,jdbcType=VARCHAR},
      followrec = #{followrec,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrbc.business.domain.Customers">
    update customers
    set cno = #{cno,jdbcType=VARCHAR},
      cname = #{cname,jdbcType=VARCHAR},
      opsstaffname = #{opsstaffname,jdbcType=VARCHAR},
      opsstaffno = #{opsstaffno,jdbcType=VARCHAR},
      contactuser = #{contactuser,jdbcType=VARCHAR},
      phoneno = #{phoneno,jdbcType=VARCHAR},
      phonenobak = #{phonenobak,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      emailbak = #{emailbak,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      jobtitle = #{jobtitle,jdbcType=VARCHAR},
      businessstate = #{businessstate,jdbcType=VARCHAR},
      verify = #{verify,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      delflag = #{delflag,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      major = #{major,jdbcType=VARCHAR},
      majorsub = #{majorsub,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into customers (
    cno,
    cname,
    opsstaffname,
    opsstaffno,
    contactuser,
    phoneno,
    phonenobak,
    email,
    emailbak,
    wechat,
    jobtitle,
    businessstate,
    verify,
    state,
    delflag,
    createtime,
    updatetime,
    major,
    majorsub,
    followrec
    )
    values
    <foreach collection="recordList" index="index" item="item" separator=",">
      (
      #{item.cno,jdbcType=VARCHAR},
      #{item.cname,jdbcType=VARCHAR},
      #{item.opsstaffname,jdbcType=VARCHAR},
      #{item.opsstaffno,jdbcType=VARCHAR},
      #{item.contactuser,jdbcType=VARCHAR},
      #{item.phoneno,jdbcType=VARCHAR},
      #{item.phonenobak,jdbcType=VARCHAR},
      #{item.email,jdbcType=VARCHAR},
      #{item.emailbak,jdbcType=VARCHAR},
      #{item.wechat,jdbcType=VARCHAR},
      #{item.jobtitle,jdbcType=VARCHAR},
      #{item.businessstate,jdbcType=VARCHAR},
      #{item.verify,jdbcType=VARCHAR},
      #{item.state,jdbcType=INTEGER},
      #{item.delflag,jdbcType=INTEGER},
      #{item.createtime,jdbcType=TIMESTAMP},
      #{item.updatetime,jdbcType=TIMESTAMP},
      #{item.major,jdbcType=VARCHAR},
      #{item.majorsub,jdbcType=VARCHAR},
      #{item.followrec,jdbcType=LONGVARBINARY}
      )
    </foreach>
  </insert>
</mapper>