<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrbc.business.mapper.PerformanceMapper">

    <resultMap id="baseMap" type="com.hrbc.business.domain.Performance">
        <id column="id" property="id"/>
        <result column="opdate" property="opdate"/>
        <result column="opuser" property="opuser"/>
        <result column="opusername" property="opusername"/>
        <result column="khs" property="khs"/>
        <result column="tjl" property="tjl"/>
        <result column="interview" property="interview"/>
        <result column="offer" property="offer"/>
        <result column="rzdg" property="rzdg"/>
        <result column="rzfq" property="rzfq"/>
        <result column="byqlz" property="byqlz"/>
        <result column="msl" property="msl"/>
        <result column="offerl" property="offerl"/>
        <result column="pdl" property="pdl"/>
    </resultMap>

    <select id="queryDay" resultMap="baseMap" parameterType="com.hrbc.business.domain.Performance">
        SELECT
        t3.*,
        CONCAT((@i:=@i+1 ),'') id,
        CONCAT(
        round(

        IF (
        t3.interview / t3.tjl IS NULL,
        0,
        t3.interview / t3.tjl
        ),
        2
        )*100,
        '%'
        ) msl,
        CONCAT(
        round(

        IF (
        t3.offer / t3.interview IS NULL,
        0,
        t3.offer / t3.interview
        ),
        2
        )*100,
        '%'
        ) offerl,
        CONCAT(
        round(

        IF (
        t3.rzfq / t3.offer IS NULL,
        0,
        t3.rzfq / t3.offer
        ),
        2
        )*100,
        '%'
        ) pdl
        FROM
        (SELECT @i:=0) as i,
        (
        SELECT
        t2.optday opdate,
        t2.opuser,
        (
        SELECT
        s.cnname
        FROM
        sys_user s
        WHERE
        s.username = t2.opuser
        ) opusername,
        count(DISTINCT(t2.cno)) khs,
        count(DISTINCT(t2.jobdesc)) jobnum,
        sum(IF(t2.flowstate = 2, 1, 0)) tjl,
        sum(IF(t2.flowstate = 4, 1, 0)) interview,
        sum(IF(t2.flowstate = 5, 1, 0)) offer,
        sum(IF(t2.flowstate = 6, 1, 0)) rzdg,
        sum(IF(t2.flowstate = 8 and t2.offq = 1, 1, 0)) rzfq,
        sum(IF(t2.flowstate = 11, 1, 0)) byqlz
        FROM
        (
        SELECT
        t1.*, DATE_FORMAT(t1.optime, '%Y-%m-%d') optday,
        DATE_FORMAT(t1.optime, '%Y-%m') optmonth,
        DATE_FORMAT(t1.optime, '%Y') optyear,
        tj.jobid,
        tj.jobtitle,
        j2.jobdesc,
        j2.cno,
        j2.cname,
        (select count(1) from jobs_candidates_state jcs where jcs.jcid = t1.jcid and flowstate=5) offq
        FROM
        ( select * from jobs_candidates_state <where> <if test="currentuser != null"> and opuser = #{currentuser}</if> </where> ) t1
        LEFT JOIN jobs_candidates tj ON t1.jcid = tj.id
        LEFT JOIN customers_jobs j2 ON tj.jobid = j2.id
        <where>
            <if test="createtimest != null">
                and t1.optime &gt;= #{createtimest}
            </if>
            <if test="createtimeed != null">
                and t1.optime &lt; DATE_SUB(#{createtimeed},INTERVAL -2 DAY)
            </if>
            <if test="qcustomername != null">
                and j2.cname like  #{qcustomername}
            </if>
            <if test="qjobname != null">
                and tj.jobtitle like  #{qjobname}
            </if>
            <if test="qopusername != null">
                and t1.opusername like  #{qopusername}
            </if>

        </where>
        ) t2
        WHERE
        1 = 1
        GROUP BY
        t2.optday,
        t2.opuser
        ORDER BY
        t2.optday DESC
        ) t3

    </select>

    <select id="queryMonth" resultMap="baseMap" parameterType="com.hrbc.business.domain.Performance">
       SELECT
            t3.*,
        CONCAT((@i:=@i+1 ),'') id,
            CONCAT(
                round(

                    IF (
                        t3.interview / t3.tjl IS NULL,
                        0,
                        t3.interview / t3.tjl
                    ),
                    2
                )*100,
                '%'
            ) msl,
            CONCAT(
                round(

                    IF (
                        t3.offer / t3.interview IS NULL,
                        0,
                        t3.offer / t3.interview
                    ),
                    2
                )*100,
                '%'
            ) offerl,
            CONCAT(
                round(

                    IF (
                        t3.rzfq / t3.offer IS NULL,
                        0,
                        t3.rzfq / t3.offer
                    ),
                    2
                )*100,
                '%'
            ) pdl
        FROM
        (SELECT @i:=0) as i,
            (
                SELECT
                    t2.optmonth opdate,
                    t2.opuser,
                    (
                        SELECT
                            s.cnname
                        FROM
                            sys_user s
                        WHERE
                            s.username = t2.opuser
                    ) opusername,
                    count(DISTINCT(t2.cno)) khs,
                    count(DISTINCT(t2.jobdesc)) jobnum,
                    sum(IF(t2.flowstate = 2, 1, 0)) tjl,
                    sum(IF(t2.flowstate = 4, 1, 0)) interview,
                    sum(IF(t2.flowstate = 5, 1, 0)) offer,
                    sum(IF(t2.flowstate = 6, 1, 0)) rzdg,
                    sum(IF(t2.flowstate = 8 and t2.offq = 1, 1, 0)) rzfq,
                    sum(IF(t2.flowstate = 11, 1, 0)) byqlz
                FROM
                    (
                        SELECT
                            t1.*, DATE_FORMAT(t1.optime, '%Y-%m-%d') optday,
                            DATE_FORMAT(t1.optime, '%Y-%m') optmonth,
                            DATE_FORMAT(t1.optime, '%Y') optyear,
                            tj.jobid,
                            tj.jobtitle,
                            j2.jobdesc,
                            j2.cno,
                            j2.cname,
        (select count(1) from jobs_candidates_state jcs where jcs.jcid = t1.jcid and flowstate=5) offq
                        FROM
        ( select * from jobs_candidates_state <where> <if test="currentuser != null"> and opuser = #{currentuser}</if> </where> ) t1
                        LEFT JOIN jobs_candidates tj ON t1.jcid = tj.id
                        LEFT JOIN customers_jobs j2 ON tj.jobid = j2.id
                    <where>
                        <if test="createtimest != null">
                            and t1.optime &gt;= #{createtimest}
                        </if>
                        <if test="createtimeed != null">
                            and t1.optime &lt; DATE_SUB(#{createtimeed},INTERVAL -2 DAY)
                        </if>
                        <if test="qcustomername != null">
                            and j2.cname like  #{qcustomername}
                        </if>
                        <if test="qjobname != null">
                            and tj.jobtitle like  #{qjobname}
                        </if>
                        <if test="qopusername != null">
                            and t1.opusername like  #{qopusername}
                        </if>
                    </where>
                    ) t2
                WHERE
                    1 = 1
                GROUP BY
                    t2.optmonth,
                    t2.opuser
                ORDER BY
                    t2.optmonth DESC
            ) t3

    </select>

    <select id="queryYear" resultMap="baseMap" parameterType="com.hrbc.business.domain.Performance">
        SELECT
        t3.*,
        CONCAT((@i:=@i+1 ),'') id,
        CONCAT(
        round(

        IF (
        t3.interview / t3.tjl IS NULL,
        0,
        t3.interview / t3.tjl
        ),
        2
        )*100,
        '%'
        ) msl,
        CONCAT(
        round(

        IF (
        t3.offer / t3.interview IS NULL,
        0,
        t3.offer / t3.interview
        ),
        2
        )*100,
        '%'
        ) offerl,
        CONCAT(
        round(

        IF (
        t3.rzfq / t3.offer IS NULL,
        0,
        t3.rzfq / t3.offer
        ),
        2
        )*100,
        '%'
        ) pdl
        FROM
        (SELECT @i:=0) as i,
        (
        SELECT
        t2.optyear opdate,
        t2.opuser,
        (
        SELECT
        s.cnname
        FROM
        sys_user s
        WHERE
        s.username = t2.opuser
        ) opusername,
        count(DISTINCT(t2.cno)) khs,
        count(DISTINCT(t2.jobdesc)) jobnum,
        sum(IF(t2.flowstate = 2, 1, 0)) tjl,
        sum(IF(t2.flowstate = 4, 1, 0)) interview,
        sum(IF(t2.flowstate = 5, 1, 0)) offer,
        sum(IF(t2.flowstate = 6, 1, 0)) rzdg,
        sum(IF(t2.flowstate = 8 and t2.offq = 1, 1, 0)) rzfq,
        sum(IF(t2.flowstate = 11, 1, 0)) byqlz
        FROM
        (
        SELECT
        t1.*, DATE_FORMAT(t1.optime, '%Y-%m-%d') optday,
        DATE_FORMAT(t1.optime, '%Y-%m') optmonth,
        DATE_FORMAT(t1.optime, '%Y') optyear,
        tj.jobid,
        tj.jobtitle,
        j2.jobdesc,
        j2.cno,
        j2.cname,
        (select count(1) from jobs_candidates_state jcs where jcs.jcid = t1.jcid and flowstate=5) offq
        FROM
        ( select * from jobs_candidates_state <where> <if test="currentuser != null"> and opuser = #{currentuser}</if> </where> ) t1
        LEFT JOIN jobs_candidates tj ON t1.jcid = tj.id
        LEFT JOIN customers_jobs j2 ON tj.jobid = j2.id
        <where>
            <if test="createtimest != null">
                and t1.optime &gt;= #{createtimest}
            </if>
            <if test="createtimeed != null">
                and t1.optime &lt; DATE_SUB(#{createtimeed},INTERVAL -2 DAY)
            </if>
            <if test="qcustomername != null">
                and j2.cname like  #{qcustomername}
            </if>
            <if test="qjobname != null">
                and tj.jobtitle like  #{qjobname}
            </if>
            <if test="qopusername != null">
                and t1.opusername like  #{qopusername}
            </if>
        </where>
        ) t2
        WHERE
        1 = 1
        GROUP BY
        t2.optyear,
        t2.opuser
        ORDER BY
        t2.optyear DESC
        ) t3

    </select>

    <select id="queryRowDay" resultMap="baseMap">
        SELECT
            CONCAT('d-',(@i:=@i+1 )) id,
                t3.*,
                CONCAT(
                    round(
                        IF (
                            t3.interview / t3.tjl IS NULL,
                            0,
                            t3.interview / t3.tjl
                        ),
                        2
                    ),
                    '%'
                ) msl,
                CONCAT(
                    round(

                        IF (
                            t3.offer / t3.interview IS NULL,
                            0,
                            t3.offer / t3.interview
                        ),
                        2
                    ),
                    '%'
                ) offerl,
                CONCAT(
                    round(

                        IF (
                            t3.rzfq / t3.offer IS NULL,
                            0,
                            t3.rzfq / t3.offer
                        ),
                        2
                    ),
                    '%'
                ) pdl
            FROM
            (SELECT @i:=0) as i,
                (
                    SELECT
                        t2.optday opdate,

                        (
                            SELECT
                            s.cnname
                            FROM
                            sys_user s
                            WHERE
                            s.username = t2.opuser
                  ) opusername,
                        t2.opuser,
                        t2.cname khs,
                        t2.cno,
                        t2.jobid,
                        t2.jobdesc jobnum,
                        sum(IF(t2.flowstate = 2, 1, 0)) tjl,
                        sum(IF(t2.flowstate = 4, 1, 0)) interview,
                        sum(IF(t2.flowstate = 5, 1, 0)) offer,
                        sum(IF(t2.flowstate = 6, 1, 0)) rzdg,
                        sum(IF(t2.flowstate = 8, 1, 0)) rzfq,
                        sum(IF(t2.flowstate = 11, 1, 0)) byqlz
                    FROM
                        (
                            SELECT
                                t1.*, DATE_FORMAT(t1.optime, '%Y-%m-%d') optday,
                                DATE_FORMAT(t1.optime, '%Y-%m') optmonth,
                                DATE_FORMAT(t1.optime, '%Y') optyear,
                                tj.jobid,
                                tj.jobtitle,
                                j2.jobdesc,
                                j2.cno,
                                j2.cname
                            FROM
                                jobs_candidates_state t1
                            LEFT JOIN jobs_candidates tj ON t1.jcid = tj.id
                            LEFT JOIN customers_jobs j2 ON tj.jobid = j2.id
                            where
                                    DATE_FORMAT(t1.optime, '%Y-%m-%d')=#{opdate}
                                and t1.opuser=#{opuser}
                            <if test="createtimest != null">
                                and t1.optime &gt;= #{createtimest}
                            </if>
                            <if test="createtimeed != null">
                                and t1.optime &lt; DATE_SUB(#{createtimeed},INTERVAL -2 DAY)
                            </if>
                        ) t2
                    WHERE
                        1 = 1
                    GROUP BY
                        t2.optday,
                        t2.opuser,
                        t2.jobid,
                        t2.cname
                    ORDER BY
                        t2.optday DESC
                ) t3
    </select>
    <select id="queryRowMonth" resultMap="baseMap">
        SELECT
            CONCAT('d-',(@i:=@i+1 )) id,
                t3.*,
                CONCAT(
                    round(

                        IF (
                            t3.interview / t3.tjl IS NULL,
                            0,
                            t3.interview / t3.tjl
                        ),
                        2
                    ),
                    '%'
                ) msl,
                CONCAT(
                    round(

                        IF (
                            t3.offer / t3.interview IS NULL,
                            0,
                            t3.offer / t3.interview
                        ),
                        2
                    ),
                    '%'
                ) offerl,
                CONCAT(
                    round(

                        IF (
                            t3.rzfq / t3.offer IS NULL,
                            0,
                            t3.rzfq / t3.offer
                        ),
                        2
                    ),
                    '%'
                ) pdl
            FROM
            (SELECT @i:=0) as i,
                (
                    SELECT
                        t2.optmonth opdate,

                        (
                            SELECT
                            s.cnname
                            FROM
                            sys_user s
                            WHERE
                            s.username = t2.opuser
                  ) opusername,
                        t2.opuser,
                        t2.cname khs,
                        t2.cno,
                        t2.jobid,
                        t2.jobdesc jobnum,
                        sum(IF(t2.flowstate = 2, 1, 0)) tjl,
                        sum(IF(t2.flowstate = 4, 1, 0)) interview,
                        sum(IF(t2.flowstate = 5, 1, 0)) offer,
                        sum(IF(t2.flowstate = 6, 1, 0)) rzdg,
                        sum(IF(t2.flowstate = 8, 1, 0)) rzfq,
                        sum(IF(t2.flowstate = 11, 1, 0)) byqlz
                    FROM
                        (
                            SELECT
                                t1.*, DATE_FORMAT(t1.optime, '%Y-%m-%d') optday,
                                DATE_FORMAT(t1.optime, '%Y-%m') optmonth,
                                DATE_FORMAT(t1.optime, '%Y') optyear,
                                tj.jobid,
                                tj.jobtitle,
                                j2.jobdesc,
                                j2.cno,
                                j2.cname
                            FROM
                                jobs_candidates_state t1
                            LEFT JOIN jobs_candidates tj ON t1.jcid = tj.id
                            LEFT JOIN customers_jobs j2 ON tj.jobid = j2.id
                            where
                               (
                                    DATE_FORMAT(t1.optime, '%Y-%m')=#{opdate}
                                or
                                    DATE_FORMAT(t1.optime, '%Y-%m-%d')=#{opdate}
                                or
                                    DATE_FORMAT(t1.optime, '%Y')=#{opdate}
                                )
                                and t1.opuser=#{opuser}
                                <if test="createtimest != null">
                                    and t1.optime &gt;= #{createtimest}
                                </if>
                                <if test="createtimeed != null">
                                    and t1.optime &lt; DATE_SUB(#{createtimeed},INTERVAL -2 DAY)
                                </if>
                        ) t2
                    WHERE
                        1 = 1
                    GROUP BY
                        t2.optmonth,
                        t2.opuser,
                        t2.jobid,
                        t2.cname

                    ORDER BY
                        t2.optmonth DESC
                ) t3
    </select>

    <select id="queryRowYear" resultMap="baseMap">
        SELECT
            CONCAT('d-',(@i:=@i+1 )) id,
                t3.*,
                CONCAT(
                    round(

                        IF (
                            t3.interview / t3.tjl IS NULL,
                            0,
                            t3.interview / t3.tjl
                        ),
                        2
                    ),
                    '%'
                ) msl,
                CONCAT(
                    round(

                        IF (
                            t3.offer / t3.interview IS NULL,
                            0,
                            t3.offer / t3.interview
                        ),
                        2
                    ),
                    '%'
                ) offerl,
                CONCAT(
                    round(

                        IF (
                            t3.rzfq / t3.offer IS NULL,
                            0,
                            t3.rzfq / t3.offer
                        ),
                        2
                    ),
                    '%'
                ) pdl
            FROM
            (SELECT @i:=0) as i,
                (
                    SELECT
                        t2.optyear opdate,

                        (
                            SELECT
                            s.cnname
                            FROM
                            sys_user s
                            WHERE
                            s.username = t2.opuser
                  ) opusername,
                        t2.opuser,
                        t2.cname khs,
                        t2.cno,
                        t2.jobid,
                        t2.jobdesc jobnum,
                        sum(IF(t2.flowstate = 2, 1, 0)) tjl,
                        sum(IF(t2.flowstate = 4, 1, 0)) interview,
                        sum(IF(t2.flowstate = 5, 1, 0)) offer,
                        sum(IF(t2.flowstate = 6, 1, 0)) rzdg,
                        sum(IF(t2.flowstate = 8, 1, 0)) rzfq,
                        sum(IF(t2.flowstate = 11, 1, 0)) byqlz
                    FROM
                        (
                            SELECT
                                t1.*, DATE_FORMAT(t1.optime, '%Y-%m-%d') optday,
                                DATE_FORMAT(t1.optime, '%Y-%m') optmonth,
                                DATE_FORMAT(t1.optime, '%Y') optyear,
                                tj.jobid,
                                tj.jobtitle,
                                j2.jobdesc,
                                j2.cno,
                                j2.cname
                            FROM
                                jobs_candidates_state t1
                            LEFT JOIN jobs_candidates tj ON t1.jcid = tj.id
                            LEFT JOIN customers_jobs j2 ON tj.jobid = j2.id
                            where
                               (
                                    DATE_FORMAT(t1.optime, '%Y-%m')=#{opdate}
                                or
                                    DATE_FORMAT(t1.optime, '%Y-%m-%d')=#{opdate}
                                or
                                    DATE_FORMAT(t1.optime, '%Y')=#{opdate}
                                )
                                and t1.opuser=#{opuser}
                                <if test="createtimest != null">
                                    and t1.optime &gt;= #{createtimest}
                                </if>
                                <if test="createtimeed != null">
                                    and t1.optime &lt; DATE_SUB(#{createtimeed},INTERVAL -2 DAY)
                                </if>
                        ) t2
                    WHERE
                        1 = 1
                    GROUP BY
                        t2.optyear,
                        t2.opuser,
                        t2.jobid,
                        t2.cname

                    ORDER BY
                        t2.optyear DESC
                ) t3
    </select>
    <resultMap id="detailResultMap" type="com.hrbc.business.domain.PerformanceDetail">
        <id column="id" property="id"></id>
        <result column="flowstate" property="flowstate"></result>
        <result column="text1" property="text1"></result>
        <result column="text2" property="text2"></result>
        <result column="text3" property="text3"></result>
        <result column="text4" property="text4"></result>
        <result column="text5" property="text5"></result>
        <result column="date1" property="date1"></result>
        <result column="candidateid" property="candidateid"></result>
        <result column="candidatename" property="candidatename"></result>
        <result column="cno" property="cno"></result>
        <result column="cname" property="cname"></result>
        <result column="opdate" property="opdate"></result>
        <result column="opuser" property="opuser"></result>
        <result column="jobid" property="jobid"></result>
        <result column="jobtitle" property="jobtitle"></result>
        <result column="optime" property="optime"></result>

    </resultMap>
    <!-- 查看 统计数据的相关详情信息 -->
    <select id="queryDetail" resultMap="detailResultMap">
        SELECT
            t1.*, DATE_FORMAT(t1.optime, '%Y-%m-%d') optday,
            DATE_FORMAT(t1.optime, '%Y-%m') optmonth,
            DATE_FORMAT(t1.optime, '%Y') optyear,
            tj.jobid,
            j2.jobdesc jobtitle,
            tj.candidateid,
            tj.candidatename,
            j2.cno,
            j2.cname
        FROM
            jobs_candidates_state t1
        LEFT JOIN jobs_candidates tj ON t1.jcid = tj.id
        LEFT JOIN customers_jobs j2 ON tj.jobid = j2.id
        WHERE
        1=1
        <if test="opdate != null">
            AND (
            DATE_FORMAT(t1.optime, '%Y-%m') = #{opdate}
            OR DATE_FORMAT(t1.optime, '%Y-%m-%d') = #{opdate}
            OR DATE_FORMAT(t1.optime, '%Y') = #{opdate}
            )
        </if>
        <if test="opuser != null">
        AND t1.opuser = #{opuser}
        </if>
        <if test="cno != null">
        AND cno = #{cno}
        </if>
        <if test="jobid != null">
        AND jobid = #{jobid}
        </if>
        <if test="flowstate != null">
        AND flowstate = #{flowstate}
        </if>
        <if test="jcid != null">
            AND jcid = #{jcid}
        </if>
        <if test="createtimest != null">
            and t1.optime &gt;= #{createtimest}
        </if>
        <if test="createtimeed != null">
            and t1.optime &lt; DATE_SUB(#{createtimeed},INTERVAL -2 DAY)
        </if>
    </select>


    <select id="queryMonthlyPerformance"  resultMap="baseMap">

        SELECT
        t4.id,
        t4.opdate,
        t4.opuser,
        t4.opusername,
        t4.khs,
        t4.tjl,
        t4.interview,
        t4.offer,
        t4.money,
        t4.tjf,
        t4.msf,
        if(t4.qyf is null,0,t4.qyf) qyf,
        t4.off,
        (t4.tjf + t4.msf+if(t4.qyf is null,0,t4.qyf) + t4.off) total
        FROM
            (
                SELECT
                    CONCAT((@i :=@i + 1), '') id,
                    t3.*,
                IF (t3.tjl >= 30, 30, t3.tjl) tjf,

            IF (
                t3.interview * 2 >= 30,
                30,
                t3.interview * 2
            ) msf,
        if(offer>0 or money > 0,(select q.qys from (
            select `t`.`createuser` AS `createuser`,`t`.`createtime` AS `createtime`,count(`t`.`cname`) AS `qys` from (select `customers`.`createuser` AS `createuser`,date_format(`customers`.`updatetime`,'%Y-%m') AS `createtime`,`customers`.`cname` AS `cname` from `customers` where (`customers`.`businessstate` = '签约')) `t` group by `t`.`createuser`,`t`.`createtime`
        ) q
        where q.createtime=t3.opdate and q.createuser=t3.opuser),0)*10 qyf,
            if(t3.money is null,0, round(t3.money / 50000, 2)) off
        FROM
            (SELECT @i := 0) AS i,
            (
                SELECT
                    t2.optmonth opdate,
                    t2.opuser,
                    (
                        SELECT
                            s.cnname
                        FROM
                            sys_user s
                        WHERE
                            s.username = t2.opuser
                    ) opusername,
                    count(DISTINCT(t2.cno)) khs,
                    sum(IF(t2.flowstate = 2, 1, 0)) tjl,
                    sum(IF(t2.flowstate = 4, 1, 0)) interview,
                    sum(IF(t2.flowstate = 5, 1, 0)) offer,
                    (
                        SELECT
                            sum(money)
                        FROM
                        (SELECT
                        `cs1`.`id` AS `id`,
                        `cs1`.`optime` AS `optime`,
                        `cs1`.`text4` AS `text4`,
                        `cs1`.`t1` AS `t1`,
                        date_format(`cs1`.`optime`, '%Y-%m') AS `opmonth`,
                        substring_index(`cs1`.`t1`, ':', 1) AS `opuser`,
                        substring_index(`cs1`.`t1`, ':' ,-(1)) AS `money`
                        FROM
                        (
                        SELECT
                        `cs`.`id` AS `id`,
                        `cs`.`optime` AS `optime`,
                        `cs`.`text4` AS `text4`,
                        substring_index(`cs`.`text4`, ';', 1) AS `t1`
                        FROM
                        `jobs_candidates_state` `cs`
                        WHERE
                        (
                        (`cs`.`flowstate` = 5)
                        AND (`cs`.`text4` IS NOT NULL)
                        )
                        UNION
                        SELECT
                        `cs`.`id` AS `id`,
                        `cs`.`optime` AS `optime`,
                        `cs`.`text4` AS `text4`,
                        substring_index(
                        substring_index(`cs`.`text4`, ';', 2),
                        ';' ,- (1)
                        ) AS `t1`
                        FROM
                        `jobs_candidates_state` `cs`
                        WHERE
                        (
                        (`cs`.`flowstate` = 5)
                        AND (`cs`.`text4` IS NOT NULL)
                        )
                        UNION
                        SELECT
                        `cs`.`id` AS `id`,
                        `cs`.`optime` AS `optime`,
                        `cs`.`text4` AS `text4`,
                        substring_index(`cs`.`text4`, ';' ,-(1)) AS `t1`
                        FROM
                        `jobs_candidates_state` `cs`
                        WHERE
                        (
                        (`cs`.`flowstate` = 5)
                        AND (`cs`.`text4` IS NOT NULL)
                        )
                        ) `cs1`) v1
                        WHERE
                            v1.opuser = t2.opuser
                        AND v1.opmonth = t2.optmonth
                    ) money
                FROM
                    (
                        SELECT
                            t1.*, DATE_FORMAT(t1.optime, '%Y-%m') optmonth,
                            tj.jobid,
                            tj.jobtitle,
                            j2.jobdesc,
                            j2.cno,
                            j2.cname
                        FROM
                            ( select * from jobs_candidates_state <where> <if test="currentuser != null"> and opuser = #{currentuser}</if> </where> ) t1
                        LEFT JOIN jobs_candidates tj ON t1.jcid = tj.id
                        LEFT JOIN customers_jobs j2 ON tj.jobid = j2.id
                        where 1=1
                            <if test="opdate != null">
                                and DATE_FORMAT(t1.optime, '%Y-%m') = #{opdate}
                            </if>
                            <if test="opusername != null">
                                and t1.opusername like #{opusername}
                            </if>
                    ) t2
                WHERE
                    1 = 1
                GROUP BY
                    t2.optmonth,
                    t2.opuser
                ORDER BY
                    t2.optmonth DESC
            ) t3
            ) t4
    </select>
</mapper>